.roulette__control-center {
	position: relative;
	width: 100%;
	height: 100%;
	margin-left: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roulette__time {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 95%;
	height: 95%;
}

.roulette__spinner-bg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	height: 100%;
}

.roulette__spinner-wheel {
	width: 100%;
	height: 100%;
  position: absolute;
  top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.roulette__spinner-cell {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	height: 100%;
	font-size: 90px;
}

.roulette__spinner-num{
  position: absolute;
  width: 100%;
	height: 100%;
	font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roulette__winning {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	font-size: 120px;
	will-change: opacity, transform;

	& span {
		text-shadow: 0 0 2px rgb(0, 0, 0);
	}
}

.roulette__pointer {
	position: absolute;
	width: 100px;
	height: 70px;
	top: 26px;
	left: 50%;
	transform: translateX(-50%);
}

.roulette__winning-img, .roulette__winning-amount{
  grid-area: 1 / 1;
}