.mybets__overlay {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #00000077;
}

.mybets {
	padding: 0;
	box-sizing: border-box;
	width: 96%;
	height: 92%;
	border-radius: 0.625rem;
	border: var(--border) #e5e7eb;
	overflow: hidden;
	font-family: 'Avenir';
	background-color: rgb(237 238 242);
}

.mybets__header {
	padding-left: 3rem;
	padding-right: 1rem;
	padding-block: 0.5rem;
	width: 100%;
	height: 44px;
	background-color: rgb(25 30 33);
	color: rgb(170 187 204);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mybets__header-list {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 8px;
}

.mybets__header-item {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	text-transform: uppercase;
	color: currentColor;
	font-size: 1.2rem;
}

.mybets__button-close {
	height: 100%;
	aspect-ratio: 1/1;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	color: currentColor;
	opacity: 0.5;

	&:hover {
		opacity: 1;
	}
}

.mybets__content {
	position: relative;
	width: 100%;
	height: calc(100% - 44px);
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: auto;
	scrollbar-gutter: stable;
}

.mybets__list-text {
	margin: auto;
	font-size: 2.25rem;
	line-height: 2.5rem;
	color: #00000080;
}

.mybets__list {
	position: relative;
	padding: 1.5rem 1rem 1.5rem 1.5rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mybets__item {
	position: relative;
	padding-left: 1.4rem;
	padding-right: 1.2rem;
	padding-block: 6px;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: none;
	background-color: #fff;
	border-radius: 0.625rem;
	opacity: 1;
	transition: var(--transition-s);

	&:not(.mybets__item.active):hover {
		opacity: 0.7;
	}

	&.active {
		.mybets__marker {
			transform: rotate(90deg) scale(0.8);
			color: rgb(197 0 48);
		}
	}
}

.mybets__result-digit {
	height: 100%;
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border-radius: 6px;

	&.mybets__result-digit--green {
		background-color: var(--color-green);
	}

	&.mybets__result-digit--black {
		background-color: var(--color-black);
	}

	&.mybets__result-digit--red {
		background-color: var(--color-red);
	}
}

.mybets__marker {
	position: absolute;
	left: 0;
	color: rgb(170 187 204);
	transform: scale(0.8);
}

.mybets__item-cell,
.mybets__detalis-header-item {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	font-size: 1.2rem;
}

.mybets__detalis {
	width: 100%;
	height: 0%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow: hidden;
}

.mybets__detalis-header {
	padding-left: 1.4rem;
	padding-right: 1.2rem;
	padding-block: 6px;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(25 30 33);
	border-radius: 0.625rem;
}

.mybets__detalis-header-item {
	width: 100%;
	text-transform: uppercase;
	font-size: 1rem;
	color: rgb(169 186 202);
}

.mybets__detalis-row {
	padding-left: 1.4rem;
	padding-right: 1.2rem;
	padding-block: 6px;
	width: 100%;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #0000000d;
	border-radius: 0.625rem;
}

.mybets__detalis-cell {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 8px;
	color: #000;

	&.mybets__detalis-cell--up {
		text-transform: uppercase;
	}
}

.mybets__detalis-id {
	font-size: 1.2rem;
}

.mybets__detalis-id-secondary {
	font-size: 0.8rem;
	opacity: 0.6;
}

/* rgb(170 187 204) текст шапки */
/* rgb(25 30 33) беграунд шапки */
/* rgb(237 238 242) беграунд контейнера */
/* rgb(255 255 255) беграунд кнопки листа */
/* rgb(25 30 33) беграунд шапки листа */
/* rgb(169 186 202) текст шапки листа */
/* #0000000d беграунд айтема листа */
