html,body {
	width: 100vw;
	max-height: 100vh;
	min-height: 100vh;
	overflow-y: hidden;
	user-select: none;
}

body {
	background-image: url(../../img/bg-page.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Aveni-Cons', sans-serif;
	font-weight: 400;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

@font-face {
	font-family: 'Aveni-Cons';
	src: url('../../fonts/aveni-cons.ttf') format('truetype');
	font-weight: 400;
}
