.roulette {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.roulette__game-container {
	position: relative;
	height: 100%;
	width: 1130px;
	background-image: url(../../img/bg-green.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.roulette__statistic {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.roulette__stat-img {
	position: absolute;
	top: 0;
	z-index: 10;
}

.roulette__stat-grid {
	width: 100%;
	height: 60px;
	margin-block: 11px;
	margin-inline-start: 17px;
	margin-inline-end: 19.4px;
	border: 1px solid;
	border-radius: 10px;
	overflow: hidden;
	z-index: 100;
	display: grid;
}

.roulette__stat-item {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(37, auto);
}

.roulette__stat-cell {
	position: relative;
	width: 100%;
	height: 100%;

	&:not(&:first-child) {
		border-left: 1px solid;
	}

	&:not(.roulette__stat-cell--level) {
		border-top: 1px solid;
	}

	&.roulette__stat-cell--level::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		bottom: var(--level-cell);
		background-color: rgb(11 37 29);
	}
}

.roulette__history {
	position: absolute;
	top: 100px;
	left: 36px;
	width: 35px;
	height: 381px;
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	border-radius: 6px;
	overflow: hidden;
}

.roulette__history-item {
	display: grid;
	place-items: center;
	font-size: 24px;
	min-width: 0;
	min-height: 0;

	&:not(:last-child) {
		border-bottom: 1px solid;
	}
}

.roulette__history-number {
	padding-top: 4px;
}

.roulette__wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.roulette__control {
	width: 47%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.roulette__bet {
	position: relative;
	width: 53%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: end;
	z-index: 100;
}

.roulette__control-top {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 14px;
	padding-left: 64px;
}

.roulette__button {
	width: 60px;
	height: 40px;
	background-color: transparent;
	border: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	z-index: 1000;

	&.roulette__button--fullscreen {
		background-image: url(../../img/fullscr-min-white.svg);
	}

	&.roulette__button--mute {
		background-image: url(../../img/audio-muted.svg);
	}

	&.roulette__button--menu {
		position: relative;
		margin-right: auto;
		width: 100px;
		height: 68px;
		background-image: url(../../img/menu.svg);
		background-size: cover;
		transform: translateY(-40px);
		border-radius: 8px;

		&::after {
			position: absolute;
			content: 'MENU';
			color: #fff;
			font-size: 24px;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		&:active {
			background-color: #0011ff;
			filter: invert(1);
		}
	}
}

.roulette__balance {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 24px;
	color: rgb(221 202 124);
}

.roulette__icon-coin {
	width: 30px;
	aspect-ratio: 1/1;
}

.roulette__control-center {
	width: 100%;
	height: 100%;
	padding-left: 64px;
}
.roulette__time {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 95%;
	height: 95%;
}
.roulette__control-bottom {
	width: 100%;
	height: 204px;
	padding-left: 30px;
	padding-right: 44px;
	display: flex;
	align-items: start;
	justify-content: end;
}

.roulette__spinner-bg {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url(/img/roulette-bg.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.roulette__spinner-wheel {
	width: 100%;
	height: 100%;
	background-image: url(/img/roulette-wheel.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.roulette__spinner-num {
	width: 100%;
	height: 100%;
	background-image: url(/img/roulette-num-black-center.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.roulette__pointer {
	position: absolute;
	width: 34px;
	height: 60px;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-image: url(/img/roulette-pointer.svg);
	background-position: center;
	background-repeat: no-repeat;
	z-index: 100;
}

.roulette__winning {
	width: 126px;
	height: 28px;
	text-align: center;
	display: grid;
	place-items: center;
	font-size: 22px;
	color: rgb(221 202 124);
}

.roulette__jackpot {
	position: relative;
	width: 126px;
	height: 28px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: start;
	overflow: hidden;
}

.roulette__jackpot-list {
	position: absolute;
	height: 100%;
	display: flex;
}

.roulette__jackpot-img {
	width: 126px;
	height: 28px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	&.roulette__jackpot-img--big {
		background-image: url(../../img/jackpot-big.png);
	}
	&.roulette__jackpot-img--super {
		background-image: url(../../img/jackpot-super.png);
	}
	&.roulette__jackpot-img--mega {
		background-image: url(../../img/jackpot-mega.png);
	}
}

.roulette__session {
	height: 28px;
	text-align: center;
	display: grid;
	place-items: center;
	font-size: 24px;
	color: rgb(221 202 124);
}

.roulette__cell {
	width: 100%;
	margin-top: 14px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 4px;
}

.roulette__cell-footer {
	grid-column: span 6 / span 6;
	margin-top: 4px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	gap: 4px;
}

.roulette__cell-item {
	position: relative;
	width: 70px;
	aspect-ratio: 1/1;
	border: 1px solid #fff;
	border-radius: 6px;
	display: grid;
	place-items: center;
	font-size: 30px;
	color: currentColor;

	&.roulette__cell-item--zero {
		grid-column: span 2 / span 2;
		width: 100%;
		aspect-ratio: 2/1;
		background-color: var(--cell-color-g);
	}

	&.roulette__cell-item--more-bets {
		grid-column: span 2 / span 2;
		grid-column-start: 3;
		width: 100%;
		aspect-ratio: 2/1;
		font-size: 20px;
		background-color: transparent;
	}

	&.active {
		background-color: rgb(253, 224, 71) !important;
		color: rgb(185 28 28);
	}
}

.roulette__cell-bet {
	position: absolute;
	bottom: 0;
	font-size: 16px;
	color: black;
}

.roulette__cell-item-add {
	width: 100%;
	height: 70px;
	border: 1px solid;
	border-radius: 6px;
	display: grid;
	place-items: center;
	font-size: 30px;
	color: currentColor;
	background-color: transparent;

	&.roulette__cell-item-add--size-2 {
		grid-column: span 2 / span 2;
	}
	&.roulette__cell-item-add--size-3 {
		grid-column: span 3 / span 3;
	}
}

.roulette__bet-controls {
	margin-top: 14px;
	min-width: 160px;
	max-width: 160px;
	height: 440px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.roulette__bet-button {
	width: 110px;
	height: 70px;
	border: 1px solid #fff;
	border-radius: 6px;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	z-index: 100;
	color: #fff;
}

.roulette__bet-icon {
	width: 40px;
	height: 40px;
	margin-bottom: -6px;
}

.roulette__bet-text {
	width: 100%;
	height: 30px;
	font-size: 30px;
	margin-bottom: 4px;

	&.roulette__bet-text--big {
		margin-bottom: 0;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 36px;
	}
}

.roulette__total-bet {
	position: absolute;
	bottom: 90px;
	right: 24px;
	display: flex;
	flex-direction: column;
}

.roulette__total-text {
	font-size: 20px;
}

.roulette__total-sum {
	font-size: 30px;
	margin-left: auto;
}

.load0-st1 {
	fill: none;
	stroke: #00261d;
	stroke-width: 30;
	stroke-linecap: round;
	stroke-miterlimit: 10;
}
.load1-st0 {
	fill: none;
	stroke: #21b502;
	stroke-width: 15;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	transition: stroke-dashoffset 1s linear;
}
