.roulette {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.roulette__container {
	position: relative;
	height: 100%;
	width: 1130px;
	background-image: url(../../img/bg-green.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.roulette__stat {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.roulette__stat-img {
	position: absolute;
	top: 0;
	z-index: 10;
}

.roulette__stat-grid {
	width: 100%;
	height: 60px;
	margin-top: 11px;
	margin-inline-start: 17px;
	margin-inline-end: 19.4px;
	border: 1px solid;
	border-radius: 10px;
	overflow: hidden;
	z-index: 100;
  display: grid;
}

.roulette__stat-item {
	width: 100%;
  height: 100%;
	display: grid;
  grid-template-columns: repeat(37, auto);
}

.roulette__stat-cell {
	position: relative;
	width: 100%;
  height: 100%;

	&:not(&:first-child) {
		border-left: 1px solid;
	}

	&:not(.roulette__stat-cell--level) {
		border-top: 1px solid;
	}

	&.roulette__stat-cell--level::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		bottom: var(--level-cell);
		background-color: rgb(11 37 29);
	}
}


.roulette__history{
	position: absolute;
	top: 100px;
	left: 36px;
	width: 35px;
	height: 381px;
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	border-radius: 6px;
	overflow: hidden;
}

.roulette__history-item{
	display: grid;
	place-items: center;
	font-size: 24px;
	min-width: 0;
	min-height: 0;

	&:not(:last-child){
		border-bottom: 1px solid;
	}
}

.roulette__history-number{
	padding-top: 4px;
}